.atom-accent {
    position: absolute;
    z-index: 9;
    right: @pixel-proportion;
    bottom: @pixel-proportion * 2;

    height: 0;

    & > a > button {
        font-size: 2.5rem;

        width: 5.5rem;
        height: 5.5rem;
        margin-top: -5.5rem;
        margin-right: @pixel-proportion;
        margin-bottom: @pixel-proportion;
        padding: 0;

        border-color: @color-3;
        border-radius: 50%;
        background-color: @color-3;

        .flex(row, center, center);
    }
}

> .button-accent {
    .atom-accent() !important;
}
