#app-name {
    font-weight: 900;

    margin: 0;
    margin-top: @pixel-proportion * -2;
    margin-bottom: @pixel-proportion;
    margin-left: @pixel-proportion * 3;
    padding: 0;

    opacity: .8;
    color: @white-1;

    .upper-case;
}

.app-wrapper {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    border-radius: @pixel-proportion / 2;
    background: @white-1;
    box-shadow: 0 0 10px @black-4;
}

.flex-section {
    width: 100%;
    height: 100%;

    .flex(column,flex-start, flex-start);

    & > .header-section {
        width: calc(~'100% + ' 1.5em);
        padding: 0;
    }

    & > .content-section {
        width: calc(~'100% + ' 1.5em);
        padding: 0;

        flex: 1 1 auto;
    }
}

#full-section {
    padding: 0;
    & > .container > .columns {
        #header-data {
            padding: 0;

            & > .tab {
                margin: 0;
                margin-top: @pixel-proportion * 2;

                background-color: @white-1;
            }
        }
        #all-data {
            position: relative;

            margin-right: -2px;
            padding: 0;

            .flex(column, flex-start, flex-start);

            #header-bar {
                width: 100%;

                border-bottom: 1px solid @black-5;
                background-color: @grey-3;

                .transition(.2s);

                & > .input-group {
                    padding: @pixel-proportion - 2;
                    padding-bottom: 3px;

                    .transition(.2s);
                    .border-box;
                }

                & > #filter-section {
                    overflow: hidden;

                    max-height: 0;
                    padding: 0;
                    padding-top: 3px;
                    padding-right: @pixel-proportion - 2;
                    padding-left: @pixel-proportion - 2;

                    .transition(.2s);
                    .border-box;
                }
            }

            .filter-show {
                max-height: 100% !important;
                padding-bottom: @pixel-proportion - 2 !important;
            }

            #list-section {
                width: 100%;
                height: 100%;

                flex: 1 1 auto;

                & > .nano > .nano-content > ul {
                    width: 100%;
                    height: 100%;
                    margin: 0;

                    & > li {
                        overflow: hidden;

                        margin: 0;

                        border-bottom: 1px solid @grey-3;

                        .cursor-pointer;

                        & .mini {
                            font-size: .9em;
                        }

                        & > a {
                            overflow: hidden;

                            padding: @pixel-proportion * 2;

                            color: @grey-1;
                            border-left: 0 solid @color-1;

                            .transition(.1s);
                            .flex(row, flex-start, center);

                            &:hover {
                                border-left: @pixel-proportion solid @color-3;
                            }

                            & > figure {
                                min-width: 4.8rem;
                                min-height: 4.8rem;
                                margin-right: @pixel-proportion;

                                & > span {
                                    font-size: .6em;
                                    font-weight: 900;

                                    color: @white-1;
                                    border: 2px solid @white-1;
                                    border-radius: 50%;
                                    background-color: @color-1;

                                    .flex(row,center,center);
                                }
                            }

                            & > #info {
                                overflow: hidden;

                                width: 100%;

                                & > h6:first-child {
                                    font-size: .9em;
                                    font-weight: 900;

                                    color: @color-1;

                                    .upper-case;
                                }
                                & > h5 {
                                    overflow: hidden;

                                    padding-bottom: @pixel-proportion / 4;

                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                                & > h6:last-child {
                                    font-weight: 500;

                                    overflow: hidden;

                                    padding-bottom: @pixel-proportion / 4;

                                    white-space: nowrap;
                                    text-overflow: ellipsis;

                                    color: @black-3;
                                }
                            }
                        }

                        & > h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            margin: 0;
                        }
                    }
                }
            }
        }

        #one-data {
            position: relative;

            margin-bottom: -1.4em;

            border-left: 1px solid @black-6;
            box-shadow: 0 0 30px @black-5;

            .flex(column, flex-start, flex-start);

            & > #pane-info {
                position: relative;

                display: block;
                overflow: hidden;

                width: calc(~'100% + ' 1.4em);
                height: 100%;
                min-height: 100%;
                margin-top: -.7em;
                margin-left: -.7em;

                & > .nano > .nano-content > #user-info {
                    position: relative;

                    display: block;
                    overflow: hidden;

                    height: @pixel-proportion * 40;
                    min-height: @pixel-proportion * 40;

                    background: @grey-1;

                    & > #user-background {
                        position: absolute;
                        z-index: 1;

                        width: 100%;
                        height: @pixel-proportion * 40;

                        opacity: .8;
                        background-position: center;
                        background-size: cover;

                        -webkit-filter: blur(10px);
                           -moz-filter: blur(10px);
                             -o-filter: blur(10px);
                            -ms-filter: blur(10px);
                                filter: blur(10px);
                    }

                    & > #user-card {
                        z-index: 2;

                        width: 100%;
                        height: @pixel-proportion * 40;
                        padding: @pixel-proportion * 4;

                        .flex(column, center, center);
                        .border-box;

                        & > figure {
                            position: relative;
                            z-index: 2;

                            width: 20rem;
                            min-width: 20rem;
                            height: 20rem;
                            min-height: 20rem;
                        }

                        & > #user-data {
                            z-index: 2;

                            margin-top: @pixel-proportion * 2;

                            .flex(column, center, center);

                            & > h6 {
                                margin: 0;
                                margin-bottom: @pixel-proportion / 2;

                                color: @white-1;
                            }

                            & > small,
                            .mini,
                            .level {
                                font-size: .8em;

                                opacity: .4;
                            }

                            & > .level {
                                .upper-case;
                            }
                        }
                    }
                }

                & > .nano > .nano-content > #page-info {
                    width: 100%;
                    padding: @pixel-proportion;

                    & > #personal-data {
                        margin-top: @pixel-proportion;
                    }

                    & > #permission-data {
                        // display: none;

                        & > .form-group {
                            & > .select {
                                padding: @pixel-proportion + 2;
                            }
                        }
                    }

                    & > #log-data {
                        // display: none;
                    }
                }
            }
        }
    }
}
