link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,900italic')
link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='css/style-reset.css')
link(rel='stylesheet', type='text/css', href='css/spectre.min.css')
link(rel='stylesheet', type='text/css', href='css/tekoa.min.css')

script(type='text/javascript', charset='utf-8', src='libs/angular.min.js')
script(type='text/javascript', charset='utf-8', src='libs/angular-route.js')
script(type='text/javascript', charset='utf-8', src='libs/angular-sanitize.js')
script(type='text/javascript', charset='utf-8', src='libs/angular-resource.js')
//- script(type='text/javascript', charset='utf-8', src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
//- script(type='text/javascript', charset='utf-8', src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js')
//- script(type='text/javascript', charset='utf-8', src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js')
//- script(type='text/javascript', charset='utf-8', src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js')
script(type='text/javascript', charset='utf-8', src='js/tekoa.min.js')
